
	<div id="minMax">
		<div id="header"> <!-- header begin -->
			<div class="content"> <!-- Content which is the inside text, formatted so it looks better -->
				<h1>About Us</h1>
			</div> <!-- End of content -->
		</div> <!-- end header -->
		<div id="navigation"> <!-- navigation begin -->
			<div class="content"> <!-- Content which is the inside text, formatted so it looks better -->
				<a href="default.html">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="prevDeal.html">Previous Deals</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="faq.html">Frequently Asked Questions</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="ContactUs.html">Contact Us</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="login.html">Login</a>	
			</div> <!-- End of content -->
		</div> <!-- end navigation -->

	
		<div id="wrapper">
			<div id="topbar"><!-- Photo of the Bargain and description-->
				<div class="content">
					<br/>
					<br/>
				We are a website that specalizes in giving you the best prices for things you want, but for one day only! <br/>
				Companies contact us and request to put their products on our website for a cheaper price than normal. We don't require a minimum amount, so you don't have to worry about a certain amount of purchases for the deal to be active! <br/>
				</div>
			</div>

			

		</div><!-- end of website-->

		<div id="footer">
			<div class="content">
				<p>Copyright &copy;2011 Chelsea Hicks / Bargain of the Day </p>
				<p>Please note that we do not control the descriptions the seller posts, we only briefly check it to avoid abuse. If the product is for medical use, please verify with a doctor before purchasing.</p>
			</div> <!-- end of content -->
		</div> <!-- end footer -->

	</div> <!-- end wrapper -->
