


	
		<div id="wrapper">
			<div id="topbar"><!-- Photo of the Bargain and description-->
				<div class="content">
					<br/>
					<%= @product.amount%>
					<br/>
				We are a website that specalizes in giving you the best prices for things you want, but for one day only! <br/>
				Companies contact us and request to put their products on our website for a cheaper price than normal. We don't require a minimum amount, so you don't have to worry about a certain amount of purchases for the deal to be active! <br/>
				</div>
			</div>

			

		</div><!-- end of website-->

		