<!DOCTYPE html>
<html>
	<head>
		<title><%= @title %></title>
		<%= csrf_meta_tag %>
	</head>
	<body>
		<%= yield %>
		<h1>Pages#contact</h1>
		<p>Find me in app/views/pages/contact.html.erb</p>
	</body>

</html>

