<body>


	
		<div id="wrapper">
			<div id="topbar"><!-- Photo of the Bargain and description-->
				<div class="content">
				<h3>Contact Us</h3>
				<p>We appreciate our customers! If you have any questions about today's deal, a previous deal, your order, or just a question in general, please fill out this form! We will respond as soon as possible.</p>
				<form id="contactus" method="post" action="contactusSubmit.html">
				<label id="firstName" for="firstName">First Name:&nbsp;<input type="text" id="firstName" maxlength="30"></input></label><br/>
				<label id="lastName" for="lastName">Last Name:&nbsp;<input type="text" id="lastName" maxlength="30"></input></label><br/>
				<label id="order" for="order">Order Number (optional):&nbsp;<input type="text" id="order" maxlength="7"></input></label><br/>
				<label id="email" for="email">E-mail:&nbsp;<input type="text" id="email" maxlength="30"></input></label><br/>
				<label id="comments" for="comments"><textarea rows="10" cols="60" id="comments"></textarea></label><br/>
				<br/>
				</form>
			</div>

			

		</div><!-- end of website-->

		