

		<div id="wrapper">
			<div id="outer1"> <!-- The very left, where time left is contained-->
				<div class="content">
					
										</div> <!-- end content -->
			</div>

			<div id="topbar"><!-- Photo of the Bargain and description-->
				<div class="content" align="center">
					<h2>Welcome to Bargain of the Day!</h2>
					<%= link_to "Click Here to see Today's Deal", '/1/show' %>
					<br/>
			
				</div>
			</div>

			<div id="outer5">
				<div class="content">
					
				</div> <!-- end content -->
			</div> <!-- end outer3 -->

			

		</div><!-- end of website-->
