<div class=wrapper>
	<div id="topbar"><!-- Photo of the Bargain and description-->
				<div class="content">
				<h3>Thank you for contacting us!<br/>
	 			We will respond to you as soon as we can. </h3>
	 			</div>
	</div>
</div>