<div id="footer">
			<div class="content">
				<p>Copyright &copy;2011 Chelsea Hicks / Bargain of the Day </p>
				<p>Please note that we do not control the descriptions the seller posts, we only briefly check it to avoid abuse. If the product is for medical use, please verify with a doctor before purchasing.</p>
			</div> <!-- end of content -->
		</div> <!-- end footer -->

	</div> <!-- end wrapper -->
